footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4F362F;
  margin-top: 50px;
  height: 50vh;
  width: 100%;
  color: #fff;
  padding-top: 20px;

  .logo-baseboard {
    width: auto;
    height: 7em;
    margin-top: 20px;
  }

  .whats,
  .insta,
  .local,
  .email {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
  }

  .link {
    text-decoration: none;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
  }

  img {
    width: auto;
    height: 1.5em;
  }
}
