* {
  margin: 0;
}

body {
  background-image: linear-gradient(to bottom, #fff, #DFCFC1, #fff);
  background-image: linear-gradient(to top, #DFCFC1, #fff, #FFF );
}

.banner-card {
  width: 100%;
  height: 75vh;
  background: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 1) 100%), 
    url('/../public/assets/image/Banner-sanbolos.png');
  background-size: cover;
  background-position: center;
}


.card-information {
  display: flex;
  position: absolute;
  top: 12.5%;
  left: 65%;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.77);
  width: 27%;
  padding: 10px;
  gap: 10px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

  h2 {
    text-align: center;
    font-size: 1.2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #939393;
    font-weight: 600;
  }

  h4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    font-weight: 600;
    margin-left: 3%;
    margin-top: 5px;
  }

  input {
    width: 85%;
    padding: 12px;
    margin-left: 3%;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    border: 3px #bfbcbc solid;
  }

  button {
    width: 90%;
    padding: 10px;
    margin-left: 4%;
    margin-top: 10px;
    background-color: #664840;
    border: 0;
    cursor: pointer;
    border-radius: 15px;
    font-size: 1.7em;
    color: #fff;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 200ms;
  }

  button:hover {
    box-shadow: 0px 0px 10px #614747;
  }

  p {
    text-align: center;
    margin-top: 10.5px;
    font-size: 0.7em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: #000;
  }
}


.faixa-sobre_nos {
  display: flex;
  margin-top: 25px;

  img {
    width: auto;
    height: 100vh;
  }

  .text {
    h2 {
      font-size: 2.5em;
      font-family: "Poppins";
      margin-left: 10%;
      margin-top: 35px;
      color: #AE5044;
    }

    .text_sobre-nos {
      margin-left: 15%;
      margin-top: 50px;
    }

    p {
      font-family: 'Poppins';
      color: #7a4323;
      text-indent: 30px;
      width: 120%;
      font-size: 1.3em;
      font-weight: 200;
      line-height: 1.8;
    }
  }
}

// #DFCFC1

.faixa_cardapio {
  background-image: linear-gradient(to top, #DFCFC1, #DFCFC1, #fff);
  height: 100vh;
  display: flex;
  margin-top: -10px;
  flex-direction: column;
  align-items: center;

  h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 3em;
    color: #AE5044;
    font-family: 'Poppins';
  }

  p {
    color: #4F362F;
    text-align: center;
    margin-top: 25px;
    font-size: 1.3em;
    font-weight: 600;
    font-family: 'Poppins';
  }

  .slide_bolos {
    position: relative;
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
  }

  h4 {
    font-size: 1.6em;
    font-family: 'Poppins';
    font-weight: 600;
    color: #4F362F;
  }

  .bolo_slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 1s ease-in-out;

    img {
      width: 15em;
      height: auto;
      margin-top: 30px;
      object-fit: cover;
      border-radius: 10px;
    }

  }

  .right-arrow {
    position: absolute;
    cursor: pointer;
    width: 2em;
    height: auto;
    left: 118%;
    top: 43.5%;
    transition: opacity 0.3s;
  }

  // .right-arrow:hover {
  //   box-shadow: 0px 0px 15px #ffffff;
  // }

  .left-arrow {
    position: absolute;
    cursor: pointer;
    width: 2em;
    height: auto;
    left: -30%;
    top: 43.5%;
  }

  // .left-arrow:hover {
  //   box-shadow: 0px 0px 15px #ffffff;
  // }

  .button-cardapio {
    text-decoration: none;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    background-color: #4F362F;
    width: 20%;
    padding: 15px;
    border-radius: 20px;
    transition: 200ms;


    h3 {
      font-weight: 500;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 1.2em;
    }
  }

  .button-cardapio:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px #ffffff;
  }
}